.albums-list-toolbar {
  min-width: 800px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
  background-color: purple;
  height: 50px;
  position: relative;

}

.album-layout {
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  min-width: 800px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-left: 130px;
  padding-right: 130px;
  height: auto;
  padding: 0;
  min-height: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-items: flex-start;
  background-color: red;
  justify-content: flex-start;


  .album-index-item {
    width: 260px;
    height: 260px;
    transform: translate(0px, 8px);
    background-position: 50%;
    background-size: cover;
    transition: opacity 1s linear;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }
}

.row-wrap {
  justify-content: center;
  padding: 20px;

}
