.albums-list-toolbar {
  min-width: 800px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
  height: 50px;
  position: relative;
  .new-album-btn:hover {
    opacity: 0.6;
  }
}

.album-layout {
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  min-width: 800px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-left: 130px;
  padding-right: 130px;
  height: auto;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;


  .album-index-item {
    border-top: 0.5px solid #989898;
    width: 260px;
    height: 260px;
    transform: translate(0px, 8px);
    background-position: 50%;
    background-size: cover;
    transition: opacity 1s linear;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 0 20px rgba(0,0,0,.08);

    .interaction-bar {
      transform: translateZ(0);
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      width: 100%;
    }
  }
}

.interaction-bar {
  transform: translateZ(0);
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;

  .metaData {
    padding: 0 20px;
    bottom: 20px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    color: #f3f5f6;
    transition: top 0.5s ease;
  }

}

.metaData h4 {
  text-shadow: 0 1px 1px #000;
  line-height: 20px;
  word-break: break-word;
  margin: 0;
  font-size: 20px;
  font-weight: 200;
}

.album-index-item:hover {
  cursor: pointer;
    border-top: 3px solid gray;
}

.album-index-item:hover .metaData {
  top: -50px;
}

.row-wrap {
  justify-content: center;
  padding: 20px;
}

.albums-list-toolbar a {
  float: right;
  position: absolute;
  right: 70px;
  color: #737b80;
  text-decoration: none;
  height: 50px;
  box-sizing: border-box;
  padding-top: 20px;
}
