.sub-left-view {
  .photo-attribution {
    .attribution-info {
    }
  }
  .comments-view-container {
    top: 0;
    clear: both;
    border-top: 1px solid transparent;
    margin-bottom: 20px;
    height: 700px;
    width: 100%;

  }
}

.comment-container {
  margin: 5px 0 0;
  padding: 5px 0 5px 40px;
  min-height: 50px;
  position: relative;
  width: 100%;
  transition: background-color .15s ease-in-out;
  overflow: auto;


  .comment-circle-icon {
    top: 10px;
    border-radius: 50%;
    margin-left: 10px;
    position: absolute;
    left: 0;
    width: 32px;
    height: 32px;
  }

  .comment-author{
    margin: 2px 0 2px 20px;
    line-height: 1.3;
    font-size: 15px;
    font-weight: 400;
    color: #006dac;
  }

  .comment-content {
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 17px;
    font-weight: 100;
    line-height: 18px;
    font-size: 14px;
    margin-top: -5px;
  }
}

// *************TEMPORARY**********
// REMOVE AND UPDATE AFTER MVP LIST IS CHECKED OFF.
.flex-comment-edit-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-comment-edit-bar .flex-edit-delete p {
  font-size: 10px;
}

.flex-edit-delete {
  display: flex;
  flex-direction: row;
}

.flex-edit-delete p {
  cursor: pointer;
}
