.feed-container-wrapper {
  width: 1680px;
  padding-bottom: 100px;
  box-sizing: border-box;
  padding-top: 120px;
  height: 100vh;
  margin: auto;
  color: #212124;
  z-index: -1;

  .feed-layout {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .feed-column {
      justify-content: space-between;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      max-width: 480px;
      margin-bottom: 100px;
    }
  }
}
.feed-scroll-wrapper {
  height: 100%;
  overflow-y: scroll;
}


.feed-activity-card {
  top: 120px;
  background-color: #fff;
  width: 480px;
  margin-top: 0;
  margin-bottom: 100px;
  transition: box-shadow .2s;
  border-radius: 4px;

  .photo-index-item {
    width: 480px;
  }

}


.feed-activity-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,.1);

}
