.photo-view-modal-container {
  display: block;
  position: relative;
  margin: auto;
  background: #212124;
  height: 80vh;
  min-height: 796px;

  .main-image-wrapper {
    padding: 50px 0;
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: auto;

    .main-show-image {
      position: absolute;
      display: block;
      max-width: 100%;
      top: 50px;
      bottom: 0;
      width: auto;
      max-height: 720px;
      // height: 577px;
    }
  }
}

.photo-view-actions-container {
  font-size: .8em;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: orange;
}

.sub-photo-view-container {
  width: 100%;
  // background-color: #f3f5f6;

  .sub-photo-center-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: purple;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .sub-left-view {
      margin-right: 60px;
      margin-bottom: 120px;
      width: 500px;
      height: 400px;
      float: left;
      background-color: green;

      .photo-attribution {
        background-color: blue;
        padding: 0;
        position: relative;

      }
    }

    .sub-right-view {
      height: 400px;
      width: 500px;
      margin-top: 1em;
      margin-bottom: 120px;
      float: left;
      background-color: pink;
    }
  }
}


.photo-credit-avatar {
  margin: 26px 0 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.attribution-info {
  min-height: 55px;
  padding: 0;
  min-height: 55px;
  position: relative;
  display: block;
}

.show-page-wrap {
  position: relative;
  // padding-bottom: 100px;
  box-sizing: border-box;
  height: 100%;
  margin: auto;
  overflow-y: scroll;
  z-index: -1;
}
