.photostream-layout {
  box-sizing: border-box;
  min-width: 800px;
  max-width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-left: 130px;
  padding-right: 130px;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  padding: 0;
  min-height: 0;
  align-items: flex-start;

}

.photostream-column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // flex: 1 1 auto;
}

.layout-panel {
  display: flex;
  margin: 2px;
}

.panel-content {
  max-width: 100%;
  backface-visibility: hidden;
  position: relative;

  .panel-content-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;

  }
}

.panel-content-hover-display {
  cursor: pointer;
  background-image: linear-gradient(transparent 65%,rgba(0,0,0,.35));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  // text-align: center;
}

.panel-content:hover .panel-content-hover-display {
  opacity: 1;
  outline-width: 0;
  width: 100%;
  height: 100%;
}

.panel-content-hover-display  .interaction-bar {
  display: none;
  width: 100%;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  min-height: 17px;
}


.panel-content:hover .panel-content-hover-display .interaction-bar {
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px 4px;
  position: absolute;
  z-index: 5;
  color: white;
}

.panel-content:hover .panel-content-hover-display .interaction-bar span {
  display: block;
}

.panel-content:hover .panel-content-hover-display .interaction-bar span:last-child {
  color: hsla(0,0%,100%,.7);
  font-size: 11px;
  font-weight: 100;
}



.magic-tools-bar {
  display: block;
  margin-top: 50px;
  height: 50px;
  width: 100%;
  position: absolute;
}
