/********* LOG IN FORM ********/
h1 {
  font-weight: 800 bolder;
  font-size: 150px;
}
html {
  background-color: #f9f9fa;
}
.session-box-body {
  text-align: center;
  margin-left: 200px;
}
.session-box {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
  width: 360px;
  right: 10px;
  min-height: 550px;
  padding: 0 5px;
  border-top: 1px solid #f1f1f5;
  position: relative;
}
.session-box h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.05882em;
  letter-spacing: normal;
  display: block;
}
.session-box h2 p {
  font-weight: 400;
}
.login-logo {
  display: block;
  margin: auto;
  margin-top: 30px;
  height: 50px;
  width: 116px;
  text-align: center;
}
.login-form-challenge {
  margin-bottom: 1em;
  max-width: 300px;
  margin: 0 auto;
}
// box footer
.row-sign-up {
  position: absolute;
  margin: 30px 5px;
  padding: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: .82353em;
}
// link text s
.row-sign-up #sign-up-link {
  color: #188fff;
  display: inline;
}
// button elements
.signInButton {
  margin: 30px 0;
  width: 100%;
  border: 2px solid transparent;
  border-radius: .25em;
  box-sizing: border-box;
  display: inline-block;
  text-overflow: ellipsis;
  height: 42px;
  vertical-align: middle;
  line-height: 1;
}
#login-sigin {
  font-size: .94118em;
  color: #fff;
  background: #188fff;
}
// input field elements
.login-input-field-box {
  position: relative;
  margin-top: 30px;
  display: block;
  line-height: 1.6;
}
.login-input-field-box:focus {
  border-bottom: 2px solid #188fff;
}
#login-email-input {
  display: block;
  margin: 0;
  padding: 6px 10px;
  height: 40px;
  border: 0;
  border-radius: 0;
  font-size: .94118em;
  font-weight: 100;
  text-align: start;
  text-indent: 0px;
  border-bottom: 1px solid #cfd2d5;
  width: 100%;
}
#login-email-input:focus {
  border-bottom: 2px solid #188fff;
  width: 100%;
}
#login-password-input {
  display: block;
  margin: 0;
  padding: 6px 10px;
  height: 40px;
  border: 0;
  border-radius: 0;
  font-size: .94118em;
  font-weight: 100;
  text-align: start;
  text-indent: 0px;
  border-bottom: 1px solid #cfd2d5;
  width: 100%;
}
#login-password-input:focus {
  border-bottom: 2px solid #188fff;
  width: 100%;
}

/********* SIGN UP FORM ********/
// fname lname outer level 3
.f-l-name-container {
  padding: 0;
  margin: 0;
  display: inline;
  // flex-direction: row;
  flex-flow: row wrap;
  // -ms-flex-flow: row wrap;
}
// level 2
.row-1-contain {
  width: 44.5%;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 100;
}
.row-1-2-contain {
  width: 44.5%;
  margin-left: 9px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 100;
}
// level 3
#row-1-input {
  height: 32px;
  width: 100%;
  padding: 0 8px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  text-align: start;
  border-bottom: 1px solid #d8dade;
}
#row-1-input:focus {
  border-bottom: 2px solid #188fff;
}
// email input
.row-email-contain {
  width: 92%;
  margin: auto;
  font-weight: 100;
  margin-bottom: 4px;
  margin-top: 10px;
  height: 31px;
  display: block;
  font-size: 16px;
}
#row-2-input {
  height: 32px;
  padding: 0 8px;
  border-bottom: 1px solid #d8dade;
  width: 100%;
  text-align: start;
}
#row-2-input:focus {
  border-bottom: 2px solid #188fff;
}
.row-username-contain {
  width: 92%;
  margin: auto;
  font-weight: 100;
  margin-bottom: 4px;
  margin-top: 10px;
  height: 31px;
  display: block;
  font-size: 16px;
}
#row-3-input {
  height: 32px;
  padding: 0 8px;
  border-bottom: 1px solid #d8dade;
  width: 100%;
  text-align: start;
}
#row-3-input:focus {
  border-bottom: 2px solid #188fff;
}
.row-password-contain {
  width: 92%;
  margin: auto;
  font-weight: 100;
  margin-bottom: 4px;
  margin-top: 10px;
  height: 31px;
  display: block;
  font-size: 16px;
}
#row-4-input {
  height: 32px;
  padding: 0 8px;
  border-bottom: 1px solid #d8dade;
  width: 100%;
  text-align: start;
}
#row-4-input:focus {
  border-bottom: 2px solid #188fff;
}
.signUpButton {
  margin: 70px 0;
  width: 92%;
  border: 2px solid transparent;
  border-radius: .25em;
  box-sizing: border-box;
  display: inline-block;
  text-overflow: ellipsis;
  height: 46px;
  vertical-align: middle;
  line-height: 1;
}
 #signup {
   font-size: .94118em;
   color: #fff;
   background: #188fff;
 }
.policy-contain {
  margin-top: 40px;
  text-align: center;
}
.policy-item {
  font-size: 12px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 92%;
  padding: 10px;
  margin: 0 auto;
  color: #979ba7;
}
// signup footer
.row-sign-in {
  position: absolute;
  margin: 30px 5px;
  padding: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: .82353em;
}
.row-sign-in #log-in-link {
  color: #188fff;
  display: inline;
}

/********* SESSION HEADER ********/
