.session-global-nav-bar {
  width: 100%;
  padding-left: 130px;
  padding-right: 130px;
  height: 50px;
  background-color:  #212124;
}

.session-inner-container {
  min-width: 800px;
  max-width: 80%;
  text-align: left;
}

.session-left-btn-list {
  float: left;
}

.session-left-btn-list li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
}

.session-logo-img {
  color: #fff;
  font-size: 35px;
  letter-spacing: -0.7px;
  font-weight: bolder;
}

.session-right-btn-list {
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.session-right-btn-list li {
  display: list-item;
  margin-left: 20px;
}

.session-avatar {
  background-color: inherit;
  width: 30px;
  height: 30px;
  padding-top: 10px;
}

.tempLogOutButton {
  color: white;
  font-size: 16px;
  font-weight: 100;
  padding-top: 14px;
}
