.albums-photo-show-section {
  // background-color: blue;
  clear: both;
  height: 170px;
  // margin-top: 160px;

}

.tag {
  float: left;
  border: none;
  border-radius: 5px;
  position: relative;
  margin: 0 5px 5px 0;
  background-color: #cfd6d9;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: all .15s ease-in-out;
}

.tag p {
  padding: 0 10px;
  line-height: 21px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: 400;
  color: #212124;
}

.tag:hover {
  cursor: pointer;
  background-color: #868d91;
}

.tag p:hover {
  color: #fff;
}

.sub-tags-add-people-section-container {
  clear: both;
  border-top: 1px solid #cfd6d9;
  border-bottom: 1px solid #cfd6d9;
  width: 500px;
  padding-top: 23px;
  position: relative;
  height: 500px;

  .photo-tags-view-container {
    height: 400px;
    float: left;
    width: 225px;
    margin-right: 30px;
    position: absolute;

    .photo-tags-menu {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

.tags-list {
  clear: both;
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-top: 5px;
  margin-top: 20px;
  color: #212124;
}


.photo-tags-menu #tag-link{
  font-weight: 400;
  font-size: 16px;
  float: right;
  letter-spacing: 0.4px;
  // margin-top: 5px;
  color: #006dac;
  line-height: 26px;
}

.photo-tags-menu p:last-child {
  font-size: 14px;
  padding-top: 5px;
  color: #006dac;
}
