.upload-form-box {
  margin-top: 100px;
  margin-left: 20px;
  height: 600px;
  width: 255px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  color: #999;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(220,220,220,0.2);

  .upload-form-btn {
    text-align: center;
    background-color: #0063dc;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }

  .upload-form-btn:hover {
    background-color: #0b4791;
  }
}

.upload-form-box input {
  font-size: 14px;
  line-height: 18px;
  padding: 16px 0 16px 16px;
  color: white;
  border-bottom: solid 0.6px rgba(220,220,220,0.2);
}

.upload-form-box input:focus {
  background-color: black;
  color: #ccc;
}

.upload-form-box input::placeholder {
  color: white;
}

.upload-form-box h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  padding: 0 0 16px 16px;
}

.upload-form-box h5 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding: 0 0 0 16px;
  overflow: hidden;
}

.upload-header {
  width: 100%;
  height: 41px;
  border-bottom: 1px solid #eee;
  background: linear-gradient(to bottom,rgba(238,238,238,1) 0,rgba(241,241,241,1) 100%)
}

.upload-body {
  // background: transparent url(https://s.yimg.com/pw/images/editr-marc-by-marc-perry.png);
  background: url(asset_path("upload_texture.png"));
  background-repeat: auto;
  width: 100%;
  height: 100%;
}

.upload-nav {
  width: 100%;
  min-width: 975px;
  height: 43px;
  top: 0;
  left: 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.025);
  background-color: #fefefe;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  display: flex;
  justify-content: space-between;

  .left-upload-content {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    color: #666;
    font-weight: bolder;

    .logo-img-upload {
      color: blue;
      font-size: 32px;
      letter-spacing: -0.7px;
      font-weight: bolder;
      cursor: pointer;
    }
  }

  .right-upload-content {
    margin-right: 10px;
    margin-top: 10px;
  }

  .right-upload-content img {
    border-radius: 5px;
  }
}

.left-upload-content li {
  margin-left: 10px;
}

.left-upload-content li:last-child {
  margin-left: 45px;
  margin-top: 5px;
  text-shadow: 0 1px 1px white;
  letter-spacing: 0.2px;
  font-weight: bold;
  font-size: 14px;
}

.left-upload-content a:hover {
  color: #0063dc;
}

.upload-btn {
  margin-top: 40px;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  background: blue;
  background-color: #0063dc;
  border-radius: 3px;
}

button.upload-btn:hover {
  background-color: #0b4791;
}

.upload-center-text {
  position: fixed;
  text-shadow: 0 1px 1px #000;
  font-size: 24px;
  top: 50%;
  left: 40%;
  margin: 0 auto;
  color: #eee;
  font-weight: bold;
  text-align: center;
  margin-top: -132px;
}

.upload-single-img-result {
  height: 200px;
  width: 200px;
  margin: auto;
}
