.user-avatar {
  float: left;
  margin: 0 15px 14px 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.cover-photo-gradient {
  width: 100%;
  height: 250px;
  background-color:  #fff;
  background-position: 50% 40%;
  background-image: url(asset_path("dflt_cover.png"));
  // position: relative;
}

.cover-content-container {

  min-width: 800px;
  max-width: 95%;
  padding-top: 120px;
  margin-left: auto;
  // margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 100px;
  // position: absolute;
  // background-color: blue;
  justify-content: center;

  .title-block-content {
    display: inline-block;
    color: #fff;
    width: calc(100% - 100px - 15px);
    height: 89px;

    .title {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
    .username-content {
      display: inline-block;
      font-size: 16px;
      line-height: 18px;
      font-weight: lighter;
    }
  }
}

.inline-secondary-info {
  float: right;

}

.photo-count {
  display: inline-block;
  margin: 0 30px 0 0;
  line-height: 18px;
  max-width: 250px;
  font-weight: 300;
  font-size: 16px;
}

.year-joined {
  display: inline-block;
  // margin: 0 30px 0 0;
  line-height: 18px;
  max-width: 250px;
  font-weight: 300;
  font-size: 16px;
}

.spacer {
  flex: 1 0 75px;
  margin: 0;
  max-width: inherit;
  // width: 500px;
  display: inline-block;
}

.title h1 {
  font-size: 36px;
  text-overflow: ellipsis;
  line-height: 1em;
  margin: 21px 20px 13px 0;
  display: inline-block;
  font-weight: lighter;
}
