.cover-photo-gradient {
  width: 100%;
  height: 120px;
  background-color:  #fff;
  background-position: 50% 40%;
  background-image: url(asset_path("dflt_cover.png"));
  padding-top: 130px;
  display: block;
  position: relative;
}
